@font-face {
  font-family: reckless;
  src: url("fonts/RecklessCondensedS-TRIAL-Book.woff");
}
@font-face {
  font-family: roboto;
  src: url("fonts/RobotoMono-Medium.ttf");
}
@font-face {
  font-family: figtree;
  src: url("fonts/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  min-height: 100vh;
  width: 100%;
}
header {
  width: 100%;
  height: 3vh;
  background-color: #2a2857;
}
header h1 {
  font-size: clamp(0.7rem, 2vw, 0.8rem);
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: roboto;
  padding: 0.1rem 0rem;
  font-weight: 300;
}
nav {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fffefb;
  padding: max(1vw, 1rem);
  position: absolute;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid black;
  border-radius: 1rem;
  font-family: reckless;
  z-index: 999;
}

.nav-part-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.nav-part-1 img {
  width: 25%;
}
.nav-part-1 h3 {
  display: none;
}
.nav-part-1 h3 {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.nav-part-1 h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  background: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.nav-part-1 h3:nth-child(1)::after {
  width: 38px;
}

.nav-part-1 h3:nth-child(2)::after {
  width: 45px;
}

.nav-part-1 h3:nth-child(3)::after {
  width: 58px;
}

.nav-part-1 h3:hover::after {
  transform: scaleX(1);
}
.ri-menu-line {
  font-size: clamp(2rem, 3vw, 4rem);
  color: gray;
}

.nav-part-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-part-2 img {
  height: 5vh;
}
.nav-part-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  position: relative;
}
.nav-part-3 h3 {
  font-family: roboto;
  font-size: clamp(1rem, 2vw, 3rem);
  text-transform: capitalize;
  font-weight: 400;
  display: none;
}
.nav-part-3 h3 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.nav-part-3 h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.nav-part-3 h3:hover::after {
  transform: scaleX(1);
}
.count {
  position: absolute;
  right: -50%;
  background-color: #ffb500;
  padding: 0rem 0.2rem;
  border-radius: 50%;
  border: 0.1px solid black;
}
.section-1 {
  width: 100%;
  min-height: 100vh;
  background-image: url(assests/imageye___-_imgi_55_AlpineBerry_mobile.png);
  background-size: 209%;
  background-position: 50%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding: 3rem 1rem;
  padding-top: 8rem;
}
.section-1 h1 {
  color: white;
  font-size: clamp(3rem, 4vw, 5rem);
  font-weight: 400;
  font-family: reckless;
  text-align: center;
}
.section-1 p {
  font-family: figtree;
  font-size: clamp(1rem, 2vw, 3rem);
  color: white;
  text-align: center;
}
.section-1 .btn-1 button {
  font-family: figtree;
  padding: 2vh 30vw;
  font-size: clamp(1rem, 2vw, 3rem);
  border-radius: 2rem;
  border: none;
  color: white;
  background-color: #2a2857;
  cursor: pointer;
  border: 0.2px solid black;
}
.section-1 .btn-1 button:hover {
  color: black;
  background-color: white;
}

/* Tablet */
@media (min-width: 768px) {
  header {
    height: 2.8vh;
  }
  .nav-part-2 img {
    height: 5vw;
  }
  .section-1 {
    width: 100%;
    min-height: 100vh;
    background-image: url(assests/mid\ 720.png);
    background-size: 135%;
    background-position: 58% 48%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .section-1 .btn-1 button {
    font-family: figtree;
    padding: 2.5vh 42vw;
    font-size: clamp(1rem, 1vw, 3vw);
    border-radius: 2rem;
    border: none;
    color: white;
    background-color: #2a2857;
    border: 0.2px solid black;
    margin-bottom: 4.5rem;
  }
  .section-1 h1 {
    font-size: 4.5rem;
  }
  .section-1 p {
    font-size: 1.2rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  header {
    height: 4vh;
  }
  nav {
    width: 99%;
    height: 9%;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-part-1 h3 {
    font-size: clamp(1rem, 1.5vw, 2rem);
    display: block;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    text-transform: capitalize;
    font-weight: 400;
  }

  .nav-part-1 .ri-star-fill {
    color: yellow;
    border-radius: 1px solid black;
    font-size: 1.5rem;
  }
  .nav-part-1 span .ri-menu-line {
    display: none;
  }

  .nav-part-2 img {
    height: 6vh;
    padding: 0rem 0rem 0rem 6rem;
  }
  .nav-part-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-right: 1rem;
  }
  .nav-part-3 h3 {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 300;
    display: block;
  }
  .count {
    position: absolute;
    right: -2%;
    background-color: #ffb500;
    padding: 0rem 0.2rem;
    border-radius: 50%;
    border: 0.1px solid black;
  }
  .section-1 {
    width: 100%;
    min-height: 96vh;
    background-image: url(assests/imgi_55_AlpineBerry.png);
    background-size: 145%;
    background-position: 66% 40%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem 1.5rem;
    padding-top: 10rem;
    overflow: hidden;
  }
  .section-1 h1 {
    width: 30%;
    color: white;
    font-size: clamp(2.8rem, 3.3vw, 4rem);
    font-weight: 400;
    font-family: reckless;
    text-align: start;
  }
  .section-1 p {
    width: 33%;
    font-family: figtree;
    font-size: 1rem;
    color: white;
    text-align: start;
  }
  .section-1 .btn-1 button {
    font-family: figtree;
    padding: 2.5vh 4.2vw;
    font-size: clamp(1rem, 1vw, 3vw);
    border-radius: 2rem;
    border: none;
    color: white;
    background-color: #2a2857;
    border: 0.2px solid black;
  }
}
